@charset "UTF-8";
*{ /*  * serve para todos*/
 margin:0px;
 padding: 0px;
 font-family: Arial, Helvetica, sans-serif;
}

html , body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body{
    
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover; /*cobrir a tela intekira*/
    background-attachment: fixed;

}

main{
    height:100vh;
    position: relative;
}

section#telefone{
    /* Essa parte centraliza o bloco no meio*/
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);


    /*para saber as medidas exatas abra a img no gimp vai em img e propriedade da img*/
    height: 627px;
    width: 311px;


    /* isso .. significa que vai entrar em duas pastaspara acessar a imagem*/
    background: url('../imagens/frame-iphone.png') no-repeat; 
}
     
iframe#tela{
    position: relative;
    top:80px;
    left:22px;
    width: 269px;
    height: 471px;
}

section#redes-sociais{
    text-align: right; /*muda o lado que os botoês ficaram localizados*/

}

section#redes-sociais > a >img { /* faz os botoês*/
    width: 50px;
    margin: 10px;
    border-radius:50%; /*deixa a img arredondada*/
    box-shadow: 2px 2px 5px rgba(0, 0, 0,0.400);
    box-sizing: border-box; /*para os botoês não se mecherem*/

}

section#redes-sociais img:hover{
    /* os botoês vão se mover e aparec er uma borda branca oa clicar*/
    border: 2px solid rgba(255, 255, 255, 0.637);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623);
    transition: transform .4s, border 1s;


}